<!DOCTYPE html>
<html>
<head>
  <title>Papadam</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
	
<%# enclosing all body elements except for footer in id=wrap allows for footer to be pushed to bottom in CSS%>
<div id="wrap">
	
<%# set up the navigation bar%>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Papadam</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="<%= 'active' if params[:controller] == 'home'%>">
			<a href="/">Home</a> </li>
        <li class="<%= 'active' if params[:controller] == 'music'%>">
			<a href="/music"> Music </a> </li>
        <li class="<%= 'active' if params[:controller] == 'videos'%>">
			<a href="/videos">Videos</a> </li>
        <li class="<%= 'active' if params[:controller] == 'blog'%>">
			<a href="/blog">Blog</a> </li>
		<li class="<%= 'active' if params[:controller] == 'connect'%>">
			<a href="/connect">Connect</a></li>
      </ul>
    </div>
  </div>
</nav>
<%# end setting up navigation bar%>

<%# yield main content to current view%>

<%= yield %>

</div>

<div id="footer">
      <div class="container">
		  <p>Created by Robin Jayaswal</p>
		  	<div class = "admin">
		 	   <a href="/login">Admin</a>
	  		</div>
      </div>
</div>

</body>
</html>
